<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Yo</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="main-page" style="padding:10%" >
  <div style="padding:10%">
    <div style="display: flex; justify-content: center;">
      <div class="circle">
        <span class="circle-text">9:00</span>
      </div>
    </div>
  </div>

  <ion-button (click)="toggleDarkMode()">
    Toggle Dark Mode
  </ion-button>
  <ion-card class="card">

    <ion-card-content>
      <div>
        <div style="display: flex; justify-content: space-between; font-size: large; font-weight: 400; ">
          6:00 am
          <ion-toggle></ion-toggle>
        </div>
        <div style="font-size: 10px;">
          <span>M </span><span>T </span><span>W </span><span>T </span><span>F </span><span>S </span> <span>S </span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" [routerLink]="['/set-alarm']" ion-animate="fade-in">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>