.main-page {
    margin-top: 100px;

    --ion-background-color: #F4F7FE;
    --ion-font-family: 'DM Sans', sans-serif;
    /* Replace this with your desired background color */

}
.dark-theme {
    --ion-background-color: #000000;
    --ion-text-color: #ffffff;
    /* Add other variables for dark mode as needed */
  }
  /* #3880ff Blue colr */
.card {
    --ion-background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

